
<div class="container">
  <h1>
    {{title}}
  </h1>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <div class="form-group">
      <label for="name">Enter a sentence : </label>
      <input type="text" class="form-control" id="sentence" 
        placeholder="Write your sentence here " formControlName="sentence" />
    </div>
     
    <button class="btn btn-primary" type="submit">Submit Form</button>
  </form>
  <div id=identity> Identity Attack :  {{data.identity_attack}}</div>
  <div id=insult> Insult :  {{data.insult}}</div>
  <div id=obscene> Obscene :  {{data.obscene}}</div>
  <div id=S_Toxicity> Severe Toxicity :  {{data.severe_toxicity}}</div>
  <div id=Threat> Threat :  {{data.threat}}</div>
  <div id=Toxicity> Toxicity :  {{data.toxicity}}</div>


  

</div>